@CHARSET "ISO-8859-1";

#border{
	border:none silver;
	width:90%;
	padding:10px;
	border-radius: 10px;
	background:#000080;
	
}
#btn1{
	background:green;
	font-weight: 500;
	border:0;
	color:white;
	height:30px;
	width:70px;
	border-radius: 10px;
}
#btn2{
	background:red;
	font-weight: 500;
	border:0;
	color:white;
	height:30px;
	width:70px;
	border-radius: 10px;
}
#label{
	color:white;
}
#text{
	background:white;
	border: none;
	width:150px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}
h2{
	color:black;
	text-align:center;
}
#reg{
	color:white;
	text-align:center;
}
#sign{
	color:yellow;
}