<frameset bgcolor="silver" border="0" rows="12%,50%,6%">
<frame src="Header.jsp" scrolling="no">
<frameset bordercolor="silver" cols="50%,40%,13%">
<frame name="frame2" src="Display.jsp">
<frame name="frame3" background-color="silver">
<frame name="frame1" src="LastSeen">
</frameset>
<frame src="Footer.html">
</frameset>