@CHARSET "ISO-8859-1";
body{
	background:#004080;
}
#border{
	border:none silver;
	width:22%;
	margin:auto;
	padding:10px;
	border-radius: 10px;
	background:#c0c0c0;
	
}
#btn1{
	background:#0000a0;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#btn2{
	background:red;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#label{
	color:white;
}
#text{
	background:white;
	border: none;
	width:160px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}
h1{
	color:white;
	text-align:center;
}
#reg{
	color:white;
	text-align:center;
}
#sign{
	color:yellow;
}