@CHARSET "ISO-8859-1";
body{
	background:#408080;
}
#border{
	border:none silver;
	width:20%;
	margin:auto;
	padding:10px;
	border-radius: 15px;
	background:#c0c0c0;
	
}
#btn1{
	background:#0000ff;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#btn2{
	background:red;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#label{
	color:black;
	padding:15px;
}
#text{
	background:white;
	border: none;
	width:160px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}
#h1{
	color:black;
	text-align:center;
}
#reg{
	color:white;
	text-align:center;
}
#sign{
	color:yellow;
}
#h4{
	float:left;
	color:yellow;
	display:inline;
}
#logout{
	float:right;
	display:inline;
	margin-top:12px;
}