@CHARSET "ISO-8859-1";
body{
	background:#000080;
}
#border{
	border:none silver;
	width:24%;
	margin:auto;
	padding:10px;
	border-radius: 15px;
	background:#c0c0c0;
	vertical-align: middle;
	
}
#btn1{
	background:#0000ff;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#label{
	color:black;
}
#text{
	background:white;
	border: none;
	width:160px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}
#h2{
	color:white;
	text-align:center;
}