<frameset bordercolor="#673BB7" rows="26%,67%,8%">
<frame frameborder="1"  scrolling="no" noresize framespacing="0" src="HomePage.html">
<frame frameborder="1" scrolling="yes" noresize framespacing="0"  framespacing="0" name="frame2" src="Phonepe.html">
<frame frameborder="1" scrolling="no" noresize framespacing="0" framespacing="0" src="Footer.html">
</frameset>
