@CHARSET "ISO-8859-1";
body{
	background:#673BB7;
}
#icon{
	color:white;
	padding-left: 20px;
	padding:5px;
	list-style: none;
    float: left;
    display: inline-block;
}
#icon_text{
	color:white;
	padding:5px;
	font-family: monospace;
}
.icon2{
  list-style: none;
  float: right;
  padding-right: 30px;
  vertical-align: top;
  margin-bottom: 0px;
  color:white;
}
h1{
	text-align:center;
	color:white;
}