@CHARSET "ISO-8859-1";
body{
	background:white;
}
#icon{
	color:white;
}
i
{
 background-color: #673BB7;
 border-radius: 100%;
 border: 10x solid grey;
 padding:40px;
 }
 .question-block {
  margin: 10px 0 30px;

  vertical-align: middle;
  white-space: nowrap; 
  padding-left: 80px;
}
