@CHARSET "ISO-8859-1";
body{
	background:#673BB7;
}
#border{
	border:none silver;
	width:40%;
	margin:auto;
	padding:10px;
	border-radius: 15px;
	background:#ffffff;
}
#btn1{
	background:#673BB7;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#btn2{
	background:#673BB7;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#label{
	color:black;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  background:white;
  width:160px;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}
input:focus {
  border-color: blue;
}
#h1{
	color:black;
	text-align:center;
}
#reg{
	color:white;
	text-align:center;
}
#sign{
	color:yellow;
}