@CHARSET "ISO-8859-1";
.question-instructions {
  background-color: #3eb6a9;
  margin: 0px 0px 0px;
  width: 100%;
}

.question-line {
  margin: 0px auto;
  white-space: nowrap;
  text-align: center;
}

.question-block {
  margin: 7px 0 30px;
  
  vertical-align: middle;
  white-space: nowrap; 
}
#icon{
	color:#004080;
}