@CHARSET "ISO-8859-1";
input {
  outline: 0;
  border-width: 0 0 2px;
  background:white;
  width:160px;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}
input:focus {
  border-color: blue;
}
body{
	background:#673BB7;
}
#border{
	border:none silver;
	width:40%;
	margin:auto;
	padding:10px;
	border-radius: 15px;
	background:white;
}
#btn{
	font-weight: 500;
	border:0;
	height:30px;
	width:80px;
	border-radius: 10px;
	background:#673BB7;
	color:white;
	
}