@CHARSET "ISO-8859-1";
body{
	background:#408080;
}
#btn1{
	background:#0000ff;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#btn4{
	background:red;
	font-weight: 500;
	border:0;
	color:white;
	height:35px;
	width:80px;
	border-radius: 10px;
}
#h1{
	color:black;
	text-align:center;
}