@CHARSET "ISO-8859-1";
.fa {
  padding: 10px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  display:inline;
  background: #3B5998;
  color: white;
  float:right;
}

.fa-twitter {
  display:inline;
  background: #55ACEE;
  color: white;
  float:right;
}

.fa-google {
  display:inline;
  background: #dd4b39;
  color: white;
  float:right;
}

.fa-linkedin {
  display:inline;
  background: #007bb5;
  color: white;
  float:right;
}

.fa-youtube {
  display:inline;
  background: #bb0000;
  color: white;
  float:right;
}

.fa-instagram {
  display:inline;
  background: #125688;
  color: white;
  float:right;
}
#Fheadings{
	display:inline;
	float:left;
	color:white;
}