@CHARSET "ISO-8859-1";
h3{
	float:left;
	display:inline;
	color:#00ff40;
	margin-top:1px;
	margin-bottom:50px;
	
}
#btn{
	float:right;
	background:#ff0000;
	font-weight: 600;
	border:0;
	color:white;
	height:30px;
	width:70px;
	border-radius: 8px;
	margin-top:1px;
	margin-bottom:50px;
	magrgin-right:10px;
	display:inline;
}
#heading{
	color:white;
	align:center;
}