input[type=button]{
	background: black;
	width: 90%;
	font-size: 10px;
	font-weight: 900;
	border-raidus: 1px;
	margin-left: 7px;
	margin-top: 10px;
	border-radius: 5px;
	position: relative;
	display:block;
	font-size: 15px;
	color:white;
	valign:middle;
	align:center;
}
table{
	border-spacing:3px;
	background: black;
	width:500px;
}
#plus{
	height:75px;
}
#main
{
	width:95%;
	border-padding:0px;
	border-spacing:0px;
	align:center;
	background:#7CC4D5;
}
#display1{
	width:100%;
	height:60px;
	background:#808000;
	font-size: 40px;
	font-weight: 900;
}
#display2{
	width:100%;
	height:35px;
	border-padding:5px;
	background:#797A7A;
}
#percentage{
	align: center;
}
#pbtn
{
	width: 50%;
	
}
#on{
	background:#059DC2;
}
#spclbtns{
	background:#D7D9DA;
	color:black;
}
#ce{
	color:#74DC05;
}