<frameset rows="90%,150%,90%, *">
<frame bordercolor='black' src="Welcome.html" frameborder="0" cellspacing="0" cellpadding="0">
<frameset cols ="20%, *">
<frame bordercolor='black' src="Team.html" frameborder="0">
<frame bordercolor='black' name="second", src="Team_A.html" frameborder="0">
</frameset>
<frameset>
<frame name="footer" src="Footer.html" frameborder="0">
</frameset>
<frame bordercolor='black' frameborder="0">
<frame bordercolor='black' frameborder="0">
</frameset>