<frameset rows="40%,30%,30%">
<frame bordercolor='red'>
<frameset cols="20%, *",>
<frame bordercolor='red'>
<frame bordercolor='red'>
</frameset>
<frame bordercolor='red'>
<frameset rows="40%, *">
<frame bordercolor='red'>
</frameset>