<frameset cols ="20%, 60%, 20%">
<frame bordercolor='blue' src="col1.html" frameborder="0">
<frame bordercolor='blue' src="col2.html" frameborder="0">
<frame bordercolor='blue' src="col1.html" frameborder="0">
</frameset>