@CHARSET "ISO-8859-1";
body{
	background-image:url(Img/login.jpg);
	align:center;
	margin: 100px;
	margin-top:5px;
	font-family: Arial, Helvetica, sans-serif;} *{box-sizing:border-box}
}
h1{
	color:white;
}
fieldset{
	width:350px;
	background:white;
	border-color:#D7D9DA;
    border-radius: 21px;
}
marquee{
	color:yellow;
}
legend{
	color:white;
}
#text{
	background:#D7D9DA;
	border: none;
	width:160px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}
#text:focus{
	background-color:#ddd;
	outline: none;
}
#btn1{
	background:green;
	font-weight: 500;
	border:0;
	color:white;
	height:30px;
	width:65px;
	border-radius: 21px;
}
#btn2{
	background:red;
	font-weight: 500;
	border:0;
	color:white;
	height:30px;
	width:65px;
	border-radius: 21px;
}
#container{
padding:16px;
}
#label{
	color:white;
	word-spacing:50px;
}
h1{
	color:red;
	padding: 5px;
}
p{
	color:yellow;
	padding: 5px;
}
hr{
	border:0.5px solid #f1f1f1;
	margin-bottom: 15px;
}
#marquee{
	color: orange;
}
#Heading{
	background:#117720;
}
#option{
	background:#D7D9DA;
	border: none;
	display: inline-block;
	border-radius: 5px;
}